.layout{
    flex-direction: column;
    min-height: 100vh;

    &__content {
        flex-grow: 1;
        width: 80%;
        margin: 0 auto;

        @media (max-width: 720px) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__nav {
        /* Estilos para tu barra de navegación */
    }

    &__footer {
        /* Estilos para tu pie de página */
    }
}







